.fileInput {
  display: none;
}

.DropBox {
  width: 40vw;
  height: 20vw;
  border: 2px dotted rgb(205, 106, 34);
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #f2f4f6;
}
