.fileInput {
  display: none;
}

.DropBox {
  width: 40vw;
  height: 20vw;
  border: 2px dotted rgb(205, 106, 34);
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #f2f4f6;
  display: flex;
  flex-direction: column; /* Vertical centering */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin-left: auto;
  margin-right: auto;
}
.promptContainer {
  font-size: 1.5vw; /* Adjust font size to make text bigger */
  color: #555; /* Adjust color */
  font-weight: bold; /* Bold font */
  text-align: center; /* Center align text */
}

.promptContainerDrop {
  font-size: 3vw; /* Adjust font size to make text bigger */
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust color */
  color: #8f8f8f;
  border-radius: 20vw;
  border: none;
  font-weight: bold; /* Bold font */
  text-align: center; /* Center align text */
}

.separator {
  height: 1vw; /* Add space between separators */
}
