.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Make the container take full viewport height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.group {
  display: flex;
  align-items: center;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
