.buttonContainer {
  display: flex;
  gap: 10px; /* Adjust the gap as per your requirement */
}

.signInButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logInButton {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signInButton:hover {
  background-color: #0056b3;
}

.logInButton:hover {
  background-color: #218838;
}
