/* Mise à jour du fichier styles/DropBox.module.css */

.fileInput {
	display: none;
}

.DropBox {
	width: 40vw;
	height: 20vw;
	border: 2px dashed rgb(205, 106, 34);
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	color: #f2f4f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s ease;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.DropBox:hover {
	transform: translateY(-5px);
	border-color: rgb(255, 136, 44);
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.DropBox:active {
	transform: translateY(0);
}

/* Style pour l'état désactivé */
.disabled {
	opacity: 0.8;
	cursor: default !important;
	transform: none !important;
	border-color: rgb(205, 106, 34) !important;
}

.disabled:hover {
	transform: none !important;
	border-color: rgb(205, 106, 34) !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

/* Conteneur pour les messages de traitement */
.processingContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	gap: 20px; /* Espace entre le loader et le message */
}

.processingMessage {
	font-size: 1.5vw;
	color: #f0f0f0;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0.7vw 1.5vw;
	border-radius: 50px;
	text-align: center;
	margin-top: 10px;
}

.promptContainer {
	font-size: 1.5vw;
	color: #ccc;
	font-weight: bold;
	text-align: center;
	transition: all 0.3s ease;
}

.promptContainerDrop {
	font-size: 3vw;
	padding: 2vw;
	background-color: rgba(0, 0, 0, 0.2);
	color: #f0f0f0;
	border-radius: 20vw;
	border: none;
	font-weight: bold;
	text-align: center;
	transition: all 0.3s ease;
}

.separator {
	height: 1vw;
}

.iconContainer {
	margin-bottom: 1vw;
}

.icon {
	font-size: 4vw;
	color: rgb(205, 106, 34);
	transition: all 0.3s ease;
}

.DropBox:hover .icon {
	color: rgb(255, 136, 44);
	transform: scale(1.1);
}

/* Désactiver l'effet d'animation pendant le traitement */
.disabled:hover .icon {
	color: rgb(205, 106, 34);
	transform: none;
}

/* Effet d'ondulation lors du survol */
.DropBox::after {
	content: "";
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.1) 0%,
		transparent 70%
	);
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
	z-index: -1;
}

.DropBox:hover::after {
	opacity: 1;
}

.disabled:hover::after {
	opacity: 0;
}

/* Styles responsifs */
@media (max-width: 768px) {
	.processingMessage {
		font-size: 2.2vw;
		padding: 1vw 2vw;
	}
}

@media (max-width: 480px) {
	.processingMessage {
		font-size: 3.5vw;
		padding: 1.5vw 3vw;
	}
}
