.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(1, 1, 1, 0.2);
}

.group {
  display: flex;
  align-items: center;
}

.button {
  color: #ffffff;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  padding: 15px;
}

.smallImage {
  margin-left: 20px;
  width: auto; /* or whatever size you prefer */
  height: 100px; /* maintains aspect ratio */
}
